ALTER TABLE profiles ADD COLUMN instagram_url TEXT; ALTER TABLE profiles ADD COLUMN twitter_url TEXT; ALTER TABLE profiles ADD COLUMN youtube_url TEXT; ALTER TABLE profiles ADD COLUMN other_urls TEXT[] DEFAULT '{}'; ALTER TABLE posts ADD COLUMN image_urls TEXT[] DEFAULT '{}';
