# Copy this file to key.properties and fill in your values
# storeFile should be a path to your .jks keystore
storeFile=../keystore/your-release-key.jks
storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=YOUR_KEY_ALIAS
